.agents/

MusicApp_BE/.env
MusicApp_BE/MusicApp_BE.iml
MusicApp_BE/target/
MusicApp_BE/.gitignore
MusicApp_BE/.github/
MusicApp_BE/MusicApp_BE.iml
MusicApp_BE/data/
MusicApp_BE/logs/
MusicApp_BE/*.log
MusicApp_BE/.idea/
MusicApp_BE/.DS_Store

MusicApp_FE/.env
MusicApp_FE/dist/
MusicApp_FE/node_modules/
MusicApp_FE/.gitignore
MusicApp_FE/.env.*
MusicApp_FE/npm-debug.log*
MusicApp_FE/yarn-debug.log*
MusicApp_FE/yarn-error.log*
MusicApp_FE/pnpm-debug.log*
MusicApp_FE/.eslintcache
MusicApp_FE/.DS_Store

.idea/
.DS_Store
.vscode/