# Music-App Backend Environment Variables
# Copy this file to .env and fill in your values
# NEVER commit .env to Git!

#Stage Configuration
SPRING_PROFILES_ACTIVE= local

#Database Configuaration
DB_HOST=postgres
DB_NAME=SoundCloudDB
DB_USERNAME=app_user
DB_PASSWORD=
DB_DRIVER=org.postgresql.Driver
DB_SSLMODE=disable

#JPA Configuaration
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

#Redis Configuaration
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_SSL_ENABLED=false

#Mail Configuaration
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=
MAIL_PASSWORD=

#JWT
JWT_SECRET=
JWT_EXPIRATION_MS=
JWT_REFRESH_EXPIRATION_MS=

#S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=

#GRAFANA
GRAFANA_ADMIN_PASSWORD=

#PORT
APP_PORT=8080
FRONTEND_PORT=80
REDIS_PORT=6379
MAIL_PORT=587
DB_PORT=5432
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000






