#Stage Configuration
SPRING_PROFILES_ACTIVE= [local/dev/prod]

#Database Configuaration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=MusicAppDB
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=org.postgresql.Driver
DB_SSLMODE=disable

#JPA Configuaration
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

#Redis Configuaration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis123
REDIS_SSL_ENABLED=true

#Mail Configuaration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

#JWT
JWT_SECRET=
JWT_EXPIRATION_MS=
JWT_REFRESH_EXPIRATION_MS=

#S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=







